Chapter7/31_runhighspenders.json
{
    "name": "runhighspenders",
    "properties": {
        "activities": [
            {
                "name": "Get ID",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "HighSpendersId",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Execute Pipeline",
                "type": "AzureMLExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Get ID",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "mlPipelineId": {
                        "value": "@activity('Get ID').output.firstRow.Prop_0",
                        "type": "Expression"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "aml",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": []
    }
}
